// fonts mobile
$fontBold: 700;
$fontReg: 400;
$fontFamily: "Avenir";
$pageHeaderMobile: 24px;
$sectionHeaderMobile: 12px;
$subHeaderMobile: 13px;
$bodyMobile: 13px;
$buttonMobile: 12px;

// fonts tablet and desktop
$pageHeaderDesktop: 33px;
$sectionHeaderDesktop: 12px;
$subHeaderDesktop: 14px;
$bodyDesktop: 14px;
$buttonDesktop: 12px;
