@use "../../src/styles/mixins.scss" as *;
@use "../styles/partials.scss" as *;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.video {
  margin-left: 1.5rem;
  margin-right: 1rem;

  &__upload {
    font-weight: $fontBold;
    font-family: $fontFamily;
    font-size: $pageHeaderMobile;
    color: #323232;
    text-decoration: underline white;
    margin-top: 1.5rem;
  }

  &__thumbnail-container {
    text-decoration: underline white;
  }

  &__thumbnail {
    color: #afafaf;
    margin-top: 1.5rem;
    text-transform: uppercase;
    font-size: $subHeaderDesktop;
    font-weight: $fontBold;
    font-family: $fontFamily;
    text-decoration: underline white;
  }

  &__image {
    margin-top: 0.5rem;
    width: 100%;
    border-radius: 0.3rem;
    text-decoration: underline white;
  }

  &__publish-container {
    text-decoration: underline white;
  }

  &__title-container {
    text-decoration: underline white;
  }

  &__title {
    color: #afafaf;
    margin-top: 1.5rem;
    text-transform: uppercase;
    font-weight: $fontBold;
    font-family: $fontFamily;
    font-size: $subHeaderDesktop;
    text-decoration: underline white;
    margin-bottom: 0.5rem;
  }

  &__title-input {
    text-decoration: underline white;
    background-color: #fafafa;
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    margin-top: 0.2rem;
    padding-left: 1rem;
  }

  &__description {
    color: #afafaf;
    margin-top: 1.5rem;
    text-transform: uppercase;
    font-size: $subHeaderDesktop;
    font-weight: $fontBold;
    font-family: $fontFamily;
    text-decoration: underline white;
    margin-bottom: 0.5rem;
  }

  &__description-input {
    background-color: #fafafa;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 4rem;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    margin-top: 0.2rem;
    text-decoration: underline white;
    text-align: start;
    padding-left: 1rem;
  }

  ::placeholder {
    color: #323232;
    padding-left: 1rem;
    font-family: $fontFamily;
    font-size: $bodyMobile;
    font-weight: $fontReg;
  }

  &__publish-button {
    margin-top: 1.5rem;
    text-transform: uppercase;
    font-size: $subHeaderDesktop;
    font-weight: $fontBold;
    font-family: $fontFamily;
    text-decoration: underline #0095ff;
    background-color: #0095ff;
    border: none;
    width: 100%;
    color: white;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-right: 2rem;
    text-transform: uppercase;
    border-radius: 4px;
    margin-right: 1rem;
    margin-top: 1rem;
    font-family: $fontFamily;
    font-weight: $fontBold;
  }

  &__upload-icon {
    position: relative;
    top: 0.1rem;
    right: 4rem;
  }

  &__cancel-container {
    display: flex;
    justify-content: center;
  }

  &__cancel-button {
    margin-top: 1.5rem;
    font-size: $subHeaderDesktop;
    font-weight: $fontBold;
    font-family: $fontFamily;
    text-transform: uppercase;
    text-decoration: underline white;
    background-color: white;
    border: none;
    color: #0095ff;
  }
}
