@use "../../styles/mixins.scss" as *;
@use "../../styles/partials.scss" as *;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  
  &__image-container {
    display: flex;
    justify-content: center;
  }

  &__image {
      padding-top: 1rem;
      padding-bottom: 1rem;

      @include tablet {
        height: 4rem;
        margin-left: 3rem;
        margin-top: 1rem;
      }

      @include laptop {
        height: 4rem;
        margin-left: 7rem;
        margin-top: 1rem;
}
  }

  &__search {
    @include tablet {
      display: flex;
    }
  }

  &__search-container {
      display: flex;

      @include tablet {
        margin-top: 1.5rem;
      }

      @include laptop {
        position: relative;
        left: 18.5rem;
      }
  }

  &__search-icon {
    padding-top: .2rem;
  }


  &__search--style {
      background-color: #FAFAFA;
      width: 15rem;
      margin-left: 1.5rem;
      padding-top: .5rem;
      padding-bottom: .5rem;
      border-radius: 5px;
      border: 1px solid #E1E1E1;

      @include tablet {
        height: 3rem;
      }
  }

  &__search-bar {
      border: none;
      margin-left: .5rem;
      background-color: #FAFAFA;
      font-size: 14px;
      padding-right: none;   
    
  }

  ::placeholder { 
      color: #323232;
  }
  


  &__avatar {
      margin-left: .95rem;
      margin-right: 1rem;
    vertical-align: middle;
  width: 37px;
  height: 37px;
  border-radius: 50%;

  @include tablet {
    width: 50px;
  height: 50px;
    position: relative;
    left: 13rem;
  }

  @include laptop {
    width: 50px;
  height: 50px;
    position: relative;
    left: 13rem;
  }
  }

  &__button-container {

    @include tablet {
      width: 80%;
      position: relative;
      right: 4.3rem;
      bottom: 1.2rem;
    }
  }


  &__button {
      background-color: #0095FF;
      border: none;
      width: 87%;
      color: white;
      padding-top: .7rem;
      padding-bottom: .7rem;
      padding-right: 2rem;
      text-transform: uppercase;
      border-radius: 4px;
      margin-right: 1rem;
      margin-top:1rem;
      font-family: $fontFamily;
      font-weight: $fontBold;
      

      @include tablet {
        position: relative;
        padding-top: .5rem;
      padding-bottom: .7rem;
      }

      @include laptop {
        position: relative;
        left: 4rem;
        top: 1.7rem;
        width: 25%;
        padding-top: .9rem;
      padding-bottom: .9rem;
      }
  }

  &__upload-icon {
    position: relative;
    top: .1rem;
    right: 4rem;
  }
}
